<h1>Share</h1>

<div class="card my-4">
  <div class="card-header">Signup Sheet</div>
  <div class="card-body">
    <div class="">
      <div class="row mb-4">
        <div class="col-4">
          <label for="meetingDuration" class="form-label">Meeting duration</label>
          <select
            id="meetingDuration"
            class="form-select"
            aria-label=""
            [(ngModel)]="meetingDuration"
            (change)="onMeetingDurationChange()"
          >
            <option *ngFor="let d of meetingDurations" [ngValue]="d.value">{{ d.name }}</option>
          </select>
        </div>
      </div>

      <app-time-range-picker
        [mode]="PickerMode.Calendar"
        [timeRangeGridSize]="15"
        [timeRangeFixedDuration]="meetingDuration"
        [timeRanges]="timeRanges"
        (timeRangeSelect)="onTimeRangeSelect($event)"
        (timeRangeDelete)="onTimeRangeDelete($event)"
        (timeRangeUpdate)="onTimeRangeUpdate($event)"
      ></app-time-range-picker>
    </div>
  </div>
</div>
