<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap" />
    </svg>
    <span class="fs-4">FreeBusy Angular Assessment</span>
  </a>

  <ul ngbNav [activeId]="router.url" class="nav-pills">
    <li [ngbNavItem]="link.path" *ngFor="let link of links">
      <a ngbNavLink [routerLink]="[link.path]" [fragment]="">{{ link.title }}</a>
    </li>
  </ul>
</header>
