@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';
@import '../../angular-calendar/src/angular-calendar';


.cal-event {
    .cal-event-actions {
        display: none;
        position: absolute;
        right: 5px;
        top: 0px;
        
        .cal-event-delete {

        }
    }

    &:hover {
        .cal-event-actions {
            display: block;
        }
    }
}